<%= provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "shared/errors_messages" %>
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>

      <%= f.label :password_confirmation %>
      <% if @user.errors.full_messages.any? %>
        <div class="field_with_errors">
          <%= f.text_field :password_confirmation, class: "form-control" %>
        </div>
      <% else %>
        <%= f.text_field :password_confirmation, class: "form-control" %>
      <% end %>

      <%= f.submit "Create new account", class: "btn btn-primary" %>

      <p class="text-center m-1"><%= link_to "Back", root_path %></p>
    <% end %>
  </div>
</div>
